main {
    display: flex;
}

/* header class */

.header {
    display: flex;
    color: white;
    background-color: black;
}

.header{
    justify-content: center;
    padding: 25px;
    margin: 0;
}

/* topSubject class */

.topSubject {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-size: 25px;
}

.topSubject {
    color: white;
    background-color: black;
}